.day nav,
.day footer {
    background-color: #ff9393;
}

.day .logo a,
.day .footer-lists h4 {
    color: #2c1f47;
}

.day .nav-lists a,
.day footer,
.day .profile-lists,
.day .sns a,
.day .resume-lists,
.day .details {
    color: #434147;
}
.day .nav-lists a:hover{
    color: #ddd6f3;
}

.day .burger div{
    background-color: #ddd6f3;
}

.day main {
    background: #ddd6f3;
    background: -webkit-linear-gradient(to bottom, #faaca8, #ddd6f3);
    background: linear-gradient(to bottom, #faaca8, #ddd6f3);
}

.day .profile {
    background-color: #f3d6e27c;
}

.day .profile-lists h4,
.day .resume-lists h3 {
    color: rgb(104, 84, 91);
}

.day .project {
    background-color: #f3d6e2;
    color: #434147;
}
.day .project:hover {
    box-shadow: 2px 2px 7px 5px rgba(202, 164, 183, 0.541);
}

.day .img-slide i {
    color: #615c69;
}

@media (max-width: 768px) {
    .day .nav-lists a {
        color: #efeaff;
    }
    .day .nav-lists {
        background-color: #ff9393;
    }
    .day .profile {
        box-shadow: 5px 5px 7px 5px rgba(202, 164, 183, 0.541);
    }
}