@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400&display=swap&subset=korean');

* {
    margin: 0;
}

main {
    height: 75vh;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(99, 142, 189);
}

section {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-slide {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.img-slide i {
    cursor: pointer;
}
.img-slide i:hover {
    color: gray;
}

.images {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease;
}

.project-img {
    width: 35vh;
    height: 35vh;
    overflow: hidden;
}

.project-img img {
    width: 35vh;
    height: 35vh;
}

.details {
    margin-left: 20px;
    width: 35vw;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: justify;
}

.details p {
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
}

.details h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    section {
        height: 65vh;
        flex-direction: column;
    }
    
    .img-slide {
        font-size: 2rem;
    }
    
    .project-img {
        width: 25vh;
        height: 25vh;
    }
    
    .project-img img {
        width: 25vh;
        height: 25vh;
    }
    
    .details {
        margin-left: 0px;
        width: 70vw;
    }
    
    .details h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .details {
        font-size: 0.8rem;
    }
}