@import url('./font.css');

* {
    margin: 0;
    padding: 0;
}

footer {
    height: 15vh;
    background-color: #373B44;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #656b7a;
}

.footer-lists {
    list-style: none;
}

.footer-lists h4 {
    display: inline-block;
    margin-right: 10px;
}

.copy {
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer {
        font-size: 0.7rem;
    }
}