@import url('./font.css');
* {
    margin: 0;
}

main {
    height: 75vh;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    color: rgb(214, 214, 214);
    font-size: 3rem;
}

.profile h1 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .profile {
        font-size: 2rem;
    }
    
    .profile h1 {
        font-size: 3rem;
    }
}