@import url('./font.css');
* {
    margin: 0;
}
.nav-lists {
    background-color: rgb(235, 235, 235);
    font-size: 1rem;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav-lists a{
    text-decoration: none;
    color: black;
}
.nav-lists a:hover{
    color: gray;
}
