@import url('./font.css');

main {
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    min-height: 75vh;
}

.project {
    background-color: rgb(45, 72, 104);
    margin: 50px;
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(17, 24, 39);
    color: rgb(209, 209, 209);
}
.project:hover {
    box-shadow: 2px 2px 7px 5px rgb(25, 31, 48);
}

.project img {
    width: 250px;
    height: 230px;
    opacity: 90%;
}

h2{
    margin: 0;
    margin-top: 50px;
    font-weight: 500;
}