@import url('./font.css');
#container{
    padding: 20px;
    background-color: rgb(226, 94, 101);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
#container article{
    width: 400px;
    height: 516px;
    background-color: rgba(235, 235, 235, 0.8);
    margin: 20px;
}
#container article:hover{
    box-shadow: 2px 2px 7px 5px rgb(156, 91, 91);
    cursor: pointer;
}
.project{
    padding: 30px;
    text-align: center;
}
.img-size{
    width: 340px;
    height: 315px;
}
h2{
    margin: 0;
    margin-top: 50px;
}