@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap&subset=korean');
main{
    height: 75vh;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume{
    color: rgb(153, 153, 153);
    font-size: 1.5rem;
}
.resume-lists {
    padding: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}
.resume-lists li{
    list-style: none;
    height: 70px;
    font-family: 'Noto Sans KR', sans-serif;
}
.resume-lists h3{
    color: rgb(184, 184, 184);
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
}
@media(max-width:768px){
    #resume{
        font-size: 1.2rem;
    }
}